@tailwind base;
@tailwind components;
@tailwind utilities;

.flex::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.flex {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
.product-card {
  position: relative;
}

.scroll-button {
  /* Adjust opacity as needed */
  border: none;
  /* Adjust color as needed */
  transition: background-color 0.3s ease;
}

.scroll-button:hover {
  /* Adjust opacity as needed */
}

/* ImageSlider.css */
